.formulario{
    background-color: rgba(0, 0 , 0 , 0.5);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px;
    color: white;
    
}
.container p{
    font-size: 17px;
   
}

.container h1{
    font-size: 35px;
    margin-bottom: 15px;
}


.material-symbols-outlined{
    color:#0B5ED7;
    margin-right:5px;
}

.container a{
    font-size: 15px;
    text-decoration: none;
    margin-bottom: 15px;
    font-weight: 700;
    color: black;
}

