<div class="container">
    <form #form="ngForm"  class="form-group mt-5 formulario"  validate>
        <h1 class="display-6">Registrate</h1>

        <div class="row mt-3">
            <div class="col-12 col-md-6">
                <label for="nombre" class="form-label">Nombres:</label>
                <input type="text" class="form-control" id="nombre" name="nombre" ngModel>
            </div>

            <div class="col-12 col-md-6">
                <label for="apellidos" class="form-label">Apellidos:</label>
                <input type="text" class="form-control" id="apellidos" name="apellidos" ngModel required>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12">
                <label class="form-label">Correo electronico:</label>
                <div class="input-group">
                    <span class="input-group-text">@</span>
                    <input type="text" class="form-control" placeholder="Correo electronico"
                    name="correo" ngModel required>
                </div>
                
            </div>

            <div class="col-12 mt-3">
                <label class="form-label">Contraseña:</label>
                <div class="input-group">
                    <input type="password" class="form-control" placeholder="Contraseña" name="pass" ngModel required>
                </div>
                <mat-hint> Must be 8-20 characters long.</mat-hint>
            </div>

        </div>
        <div class="row mt-3">
            <label class="form-label">Genero:</label>
            <div class="col">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="genero" id="generoMasculino"
                        value="masculino" ngModel required>
                    <label class="form-check-label" for="generoMasculino">Masculino</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="genero" id="generoFemenino"
                        value="femenino" ngModel required>
                    <label class="form-check-label" for="generoFemenino">Femenino</label>
                </div>
            </div>

        </div>

        <div class="row mt-3">
            <label class="form-label">Fecha de nacimiento:</label>
            <div class="col-6">
                <mat-form-field MatFormFieldControl appearance="fill">
                    <mat-label>Choose a date</mat-label>
                    <input matInput [matDatepicker]="picker" name="fechaNac" ngModel required>
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>

            </div>

        </div>
        <div class="w-100 text-end">
            <button type="button" class="btn btn-primary mt-3 btn-lg" (click)="registrar(form)">Enviar</button>
        </div>

    </form>
<app-new-users-list></app-new-users-list>

</div>

  
