 <mat-toolbar color="">
    <mat-toolbar-row>
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon> menu</mat-icon>
      </button>
      <span style="font-size: 35px;">Cars</span>
      <span class="example-spacer"></span>
  
      <span *ngIf="userLogin;else elseBlock">{{user}}</span>
      <ng-template #elseBlock>
        <span class="iconPerson"><button style="background-color: #0B5ED7;" mat-fab routerLink='/sign-up' class="example-icon">
            <mat-icon>person</mat-icon>
          </button> Registrate</span>

        <span class="iconLogin"><button style="background-color: #0B5ED7;" mat-fab routerLink='/login' class="example-icon">
          <mat-icon>login</mat-icon>
        </button > Inicia Sesión</span>
      </ng-template>
      
    </mat-toolbar-row>
  </mat-toolbar>
  
  <mat-sidenav-container><a mat-list-item routerLink='/login'></a>
    <mat-sidenav #sidenav opened="true" mode="side">
      <mat-nav-list>
        <a  class="text" mat-list-item routerLink='/home'> Inicio</a>
        <a mat-list-item routerLink='/busqueda'>Buscar</a>
        <a mat-list-item routerLink='/contacto'> Contactanos</a>
  
      </mat-nav-list>
  
    </mat-sidenav>
    <mat-sidenav-content>
      <div style="height: 80vh;">
        <router-outlet></router-outlet>
      </div>
  
    </mat-sidenav-content>
  </mat-sidenav-container>







<!-- <app-fecha></app-fecha> -->
