<div class="contenedor">
    <div class="box-articulo">
        <div class="texto">

            <h2>Descripcion</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit ipsum porro numquam commodi?
                Sed debitis beatae praesentium, numquam, voluptate officia animi,
                dolorum ullam velit iure mollitia amet facilis ad qui.</p>

        </div>

    </div>

    <section class="box-ventajas m-5">

        <div class="row text-center" >
            <h1>Ventajas de tener tu propio auto</h1>
        </div>
        <div class="linea mb-2"></div>
  
            <div class="row text-center">
                <div class="col-xl-4 mt-3  ">
                    <div class="card" >
                        <img class="card-img-top" src="../../assets/imgCar1.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Autonomía</h5>
                            <p class="card-text">Manejando tu propio carro puedes sentirte libre para escoger tus rutas
                                diarias: decidir por dónde ir, qué calles tomar, etc. Son decisiones que tu como
                                conductor tienes toda la libertad de escoger.</p>
                           
                        </div>

                    </div>
                </div>

                <div class="col-xl-4 mt-3">
                    <div class="card" >
                        <img class="card-img-top" src="../../assets/imgCar1.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Siempre estás más cerca
                            </h5>
                            <p class="card-text">Un carro propio te brindará la cercanía que necesitas tener con tus
                                seres queridos. Visitar a tus padres, amigos y familiares ya no será complejo, por más
                                lejos que se encuentran.</p>
                    
                        </div>

                    </div>
                </div>

                <div class="col-xl mt-3">
                    <div class="card">
                        <img class="card-img-top" src="../../assets/imgCar1.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Empezar a formar patrimonio</h5>
                            <p class="card-text">Un carro es parte esencial en el patrimonio de una persona. Al comprar
                                uno, el individuo esta incrementando sus ganancias en pro de si mismo y su familia</p>
                        
                        </div>

                    </div>
                </div>
            </div>








    </section>




</div>